/*
Container
*/
.entire__container__block {
  width: 90%;
  min-height: 85vh;
  margin: 0px auto;
  position: relative;
  display: inline-flexbox;
}

@media (max-width: 767px) {
  .entire__container__block {
    width: 100%;
  }
}

/*
Navbar
*/

.top__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.13);
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.top__navbar__logo {
  width: 300px;
  height: auto;
}

.topnav__menu__btn {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 5px 10px;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  color: rgb(61, 61, 61);
  font-weight: 600;
}

.topnav__menu__btn:hover {
  color: rgba(56, 54, 54, 0.699);
}

.search__signin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav__search {
  padding: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto 1rem;
  font-weight: 600;
  color: rgb(36, 36, 36);

  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav__signin__btn {
  padding: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto 1rem;
  font-weight: 600;
  color: rgb(36, 36, 36);
}

@media (max-width: 767px) {
  .top__navbar {
    height: 60px;
  }
  .menu__explore {
    display: none;
  }
  .topnav__menu__btn {
    margin: 1rem;
    border: none;
    padding: 0px;
  }
  .login__wording {
    display: none;
  }
  .topnav__search {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .topnav__signin__btn {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .top__navbar__logo {
    width: 200px;
    height: auto;
  }
}

/*
Sidebar

*/
.side__nav__column {
  width: 20vw;
  height: 90vh;
  position: -webkit-sticky;
  position: fixed;
  float: left;
  top: 100px;
  margin-right: 20px;
  z-index: 1;
}

.side__nav__list {
  display: flex;

  flex-direction: column;
  list-style: none;
  margin: 20px;
  min-width: 80%;
  border-bottom: 1px solid rgb(133, 130, 130);
}

.sidenav__list__item {
  margin: 2px;
  padding: 2px;
}

.list__item__button {
  width: 100%;
  min-width: fit-content;
  height: auto;
  display: block;
  padding: 5px 5px 5px 13px;
  margin: 0 0 10px 0;
  font-weight: 500;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.list__item__button:hover {
  background-color: rgba(224, 223, 223, 0.575);
}

.present {
  background-color: #6396fc42;
  border-left: 5px solid #3d6eea;
}

@media (max-width: 767px) {
  .side__nav__column {
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 60px;
    height: auto;
    float: none;
  }
  .side__nav__list {
    width: 100%;
    flex-direction: row;
    margin: 2px auto;
    justify-content: space-around;
    border-bottom: none;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.13);
  }
  .sidenav__list__item {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .list__item__button {
    width: 25%;
    text-align: center;
    margin: 1px auto;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .present {
    background-color: transparent;
    color: #3d6eea;
    border-left: none;
    font-weight: 700;
    border-bottom: 5px solid #3d6eea;
  }
}

/*
Post
*/

.post__box {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 20px;
  margin: 20px auto;
  background-color: #d1d1d1;
}

.post__image {
  width: 100%;
  margin: auto;
}

.post__heading {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 5px;
  padding-left: 0px;
}

.post__time {
  font-size: 0.9rem;
  color: gray;
}

.post__small__content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post__bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(36, 36, 36);
}

.post__bookmark__btn {
  font-size: 1.3rem;
  padding-right: 2rem;
}

.post__share__btn {
  font-size: 1.3rem;
}

.post__read__btn {
  padding: 5px 10px;
  color: #3d6eea;
  transition: all 0.7s ease;
}

.post__read__btn:hover {
  color: #0048ff;
  background-color: #93aef8a8;
  border-radius: 5px;
}

.post__read__btn__arrow {
  padding-left: 5px;
}

/*-------card--------*/
.post__box {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 20px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.post__image {
  width: 100%;
  margin: auto;
}

.post__heading {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 5px;
  padding-left: 0px;
}

.post__time {
  font-size: 0.9rem;
  color: gray;
}

.post__small__content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post__bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(36, 36, 36);
}

.post__bookmark__btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.post__share__btn {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.post__read__btn {
  padding: 5px 10px;
  color: #3d6eea;
  transition: all 0.7s ease;
}

.post__read__btn:hover {
  color: #0048ff;
  background-color: #93aef8a8;
  border-radius: 5px;
}

.post__read__btn__arrow {
  padding-left: 5px;
}

/*----------Post Container----------*/
.post__container {
  position: relative;
  width: 50%;
  margin-left: 20vw;
}

.loader__image {
  width: 100px;
  height: 100px;
  margin: auto;
}

@media (max-width: 767px) {
  .post__container {
    margin-left: 0px;
    width: 100%;
  }

  .post__heading {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px;
    padding-left: 0px;
  }
}

/* Create post */

* {
  max-width: 100vw;
}

.post__create {
  margin: 10px auto;
  margin-top: 74px;
  padding: 10px 5px;
  width: 95%;
  align-items: center;
  max-width: 800px;

  justify-content: center;
}

@media (max-width: 700px) {
  .post__create {
    margin-top: 74px;
    padding: 10px 5px;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr;
  }
}

.formControl {
  min-width: 5rem;
}

.category__container {
  margin: 64px 5px;
  padding: 5px 5px;
}

.delete__flex {
  display: flex;

  justify-content: space-around !important;
}

.hashtag__button {
  padding: 10px 2px;
}

.selected__hashtags,
.selected__hashtags__para {
  padding: 5px 2px;
  width: 100%;
}

.MuiChip-root {
  margin: 5px !important;
}

.file__upload__button {
  width: 98%;
  margin: 5px 1%;
  margin-bottom: 10px;
}

.post__submit__button {
  width: 100%;
  display: flex;
  margin: 20px 10px;
  justify-content: center;
  align-items: center;
}

/*Search Container*/

.search__container {
  width: 98%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.search__container input[type="text"] {
  width: 80%;
  height: 3rem;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  background-color: #1352f32a;
  padding: 5px 15px;
  border-radius: 10px;
}

.search__container input[type="text"]::placeholder {
  color: #3d6eea;
}

.search__button {
  padding: 5px 15px;
  color: #3d6eea;
  margin: auto 1rem;
  max-width: 15%;
  height: 3rem;
  background-color: #3d6eea1e;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .search__button {
    padding: 5px 15px;
    margin: auto 5px;
  }

  .search__container {
    width: 94vw;
    margin: 3vw 10px;
  }
}

.post__content {
  padding: 10px;
}

.post__sub__heading {
  display: flex;
  width: 98%;
  align-items: center;
}

.post__detail__category {
  margin-left: auto !important;
  background-color: #3d6eea36;
  padding: 2px;
  border-radius: 5px;
}

.post__content {
  padding: 10px;
}

.post__date {
  font-size: 1.1rem;
  padding: 8px 16px;
}

.post__title {
  font-size: 2rem;
}

.post__detail__hashtag__container {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
}

.post__detail__hashtag {
  padding: 1px 4px;
  background-color: #d1dcf579;
  border: 1px solid #306afc94;
  border-radius: 25px;
  margin: 2px 5px;
}

@media (max-width: 850px) {
  .post__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .post__content {
    display: flex;
    flex-direction: column;
  }
  .side__banner__image__column {
    position: relative;
    width: 98%;
    margin: 1%;
    height: auto;
    display: block;
  }
}

@media (min-width: 850px) {
  .side__banner__image__column {
    width: 20vw;
    height: 90vh;
    position: -webkit-sticky;
    position: fixed;
    display: flex;
    align-items: center;
    float: right;
    top: 100px;
    right: 7%;
    z-index: 1;
  }
}

/*  Latest POst */

.post__detail__latest__post {
  width: 98%;
  margin: 5px 1%;
  padding: 10px 5px;
}

.latest__post__heading {
  font-size: 1.3rem;
  font-weight: 500;
}

.latest__post__card {
  display: flex;
  position: relative;
  width: 98%;
  margin: 10px 1%;
  padding: 3px;
  background-color: #d1d1d186;
  border-radius: 5px;
}

.latest__post__image {
  width: 150px;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
}

.latest__post__heading {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 850px) {
  .latest__post__image {
    width: 100px;
    height: 100%;
    padding: 2px;
    border-radius: 5px;
  }
  .latest__post__card {
    max-height: 120px;
  }
}

.latest__post__readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
}

.latest__post__heading__container {
  position: relative;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 120px;
  min-height: 100px;
  margin: 5px;
}

@media (max-width: 850px) {
  .latest__post__heading {
    font-size: 1.1rem;
    font-weight: 400;
  }
}

.post__intro__heading {
  font-weight: 500;
  color: rgb(11, 141, 248);
}

.facebook__share,
.whatsapp__share,
.twitter__share {
  font-size: 1.4rem;
  margin: 0.5rem;
}

/*stories container*/

.stories__scroll__container {
  position: relative;
  width: 100%;
  min-height: 130px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.stories__scroll__container::-webkit-scrollbar {
  display: none;
}

.story__dis__card {
  width: 90px;
  height: 90px;
  background-color: #306afc94;
  margin: 10px;
  display: inline-block;
  border-radius: 30px;

  position: relative;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  color: white;
  background: #fff;
}

:root {
  --border-width: 3px;
}
.story__dis__card::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 32px;
  animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/*preview popup*/
.preview__image {
  object-fit: cover;
}

.story__card__innercontent {
  width: 80%;
  height: 80%;
  margin: 10%;
}

.story__card__button {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  outline: none;
  position: relative;
}

.story__title__content {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #000;
  bottom: -25px;
}

/*Story component*/

.see__more__component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seee__more__heading {
  color: #fff;

  margin: 5px;
}

.eye__icon {
  padding: 5px;
}

/* post view image*/
.post__view__image {
  width: 100%;
  height: 100%;
  margin: 5px;

  display: block;
}

.story__container {
  display: flex;
  justify-content: center;
}

.story__detail__container {
  padding: 5px 10px;
  margin: 5px 10px;
  width: 100%;
  color: #fff;
  background-color: rgba(24, 23, 23, 0.65) !important;
}

.story__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .story__grid {
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .story__grid {
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.story__small__button {
  display: relative !important;
  width: 30%;
  height: auto;
}

.story__inner__container {
  position: relative;
}

.story__small__image {
  position: relative;
  color: white;
}

.story__small__content {
  position: absolute;
  bottom: 0px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.432);
  color: #fff;
}

.stories__readmore {
  background-color: #0048ff44;
  border-radius: 5px;
}

.stories__readmore:hover {
  background-color: #0048ff79;
}

.comming__soon__container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.comming__soon__text {
  font-size: 2rem;
  font-weight: 500;
  color: #215efa;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.226);
}

/* Admin Users */
.user__card {
  width: 98%;
  height: auto;
  display: flex;
  position: relative;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
}

.user__content {
  height: 100%;
  padding: 10px 5px;
  position: relative;
  width: 80%;
}

.user__type {
  width: 20%;
  height: 100%;
}

.user__change {
  width: 20%;
  height: 100%;
  text-align: center;
}

.user__change button {
  background-color: #4778f36b;
  padding: 2px;
  border-radius: 5px;
}
